---
---

@import "{{ site.theme }}";

header {
  background: none;
  background-color: #a67d3d;
  
  h1 {
    font: none;
    text-shadow: 0px 2px 0px #523e20;
    font-size: 3em;
  }
}

#banner {
  height: 38px;
  background: #71da6a;
  border: 1px solid #5eb558;
  padding-top: 14px;
}
